<div>
  <h2>Your Submitted Student Input:</h2>
  <h4>Full name</h4>
  <p>
    <%= @full_name %>
  </p>
  <h4>Major</h4>
  <p>
    <%= @major %>
  </p>
  <h4>Age</h4>
  <p>
    <%= @age %>
  </p>
</div>
